.myrow.product
  .myrow
    .location
      = @products.try(:first).try(:store).try(:location_name) 
    .clearfix
  .myrow.details-box
    .logo
      = image_tag(@products.try(:first).try(:store).try(:logo_url), :width => '256')
    .name
      = @products.try(:first).try(:store).try(:name) 
.div{:style=>"padding: 20px 70px;"}
  .pol{:style=>'text-align:center;'}
    - @products.each do |pdt|
      %h3
        = link_to pdt.name, "/campaigns/#{pdt.id}"
      %br
      %br


  