.myrow.product
  .myrow
    .location
      = @product.store.location_name 
    .clearfix
  .myrow.details-box
    .logo
      = link_to @product do
        = image_tag @product.store.logo_url, :size => "204x100"
    .name
      = @product.name
    .description
      = @product.description
    #star
      .myrow.rating
        %h6 Rate this product
        .rateit.bigstars{:id =>'rateit5',"data-rateit-starheight" => "32", "data-rateit-starwidth" => "32", "data-rateit-resetable" => "true" }
        %input{:style => 'display:none', :product_id => "#{@product.id}"}(type="text" name="number" value=0 id="value_rate")
.row.related-products
  - @product.related_products.each do |rp|
    .rel-product
      = image_tag(rp.image_url, :width => "100%")
      .actions
        = link_to "Call Me", '', :id => "form_dialog", :product_id => rp.id , :parent_product_id => @product.id, :class => [:btn, :"btn-success"]
#dialog_form{:style => 'text-align: center; margin-top: 5px;display:none'}
  %input(type="text" name="number" value="" id="info")
  %span.loading{:style => 'display:none'}
    = image_tag("loading.gif")
