.myrow.product
  .myrow
    .location
      = @product.store.location_name 
    .clearfix
  .myrow.details-box
    .logo
      = image_tag(@product.store.logo_url, :width => '256')
    .name
      = @product.name
.div{:style=>"padding: 20px 70px;"}
  .span-24
    .span-2.menu-button.menu-color
      .menu-icon
        = link_to "/menu/#{@product.id}" do
          = image_tag 'menu_icon.jpg', :size => "100x102"
      .menu-text
        Menu
    .span-2.menu-button.menu-color
      .menu-icon
        = link_to "/campaigns/#{@product.id}" do
          = image_tag 'Feedback Icon.jpg', :size => "100x102"
      .menu-text
        FeedBack


  