.myrow.product
  .myrow
    .location
      = @product.store.location_name 
    .clearfix
  .myrow.details-box
    .logo
      = image_tag(@product.store.logo_url, :width => '256')
    .name
      = @product.name
%h3{:style=>"padding: 20px 70px;"}
  = link_to "Menu", "/menu/#{@product.id}"
  %br
  = link_to "Feed Back", "/campaigns/#{@product.id}"