.myrow.product
  .myrow
    .location
      = @product.store.location_name 
    .clearfix
  .myrow.details-box
    .logo
      = link_to @product do
        = image_tag @product.store.logo_url, :size => "204x100"
    .name
      = @product.name
    .menu_area
      Select From the Menu 
      .description
        .pol{:style => 'width:600px;'}
          #pagination_referrals
            = will_paginate(@items)
          %div
            %table.table.table-no_bordered
              %tr
                %th 
                  .name Item
                  (Description)
                %th
                  .name Price
                %th 
                  .name Qnty
                %th 
                  .name Amount
              - @items.each do |item|
                %tr
                  %td
                    .name
                      = item.name 
                    = item.description
                  %td
                    = item.price.to_f
                  %td
                    %input{:style => 'width:50px;text-align:right;', :item_id=>"#{item.id}", :id => "quantity_#{item.id}",:class =>"quantity", :price => "#{item.price.to_f}", :item_ids => "#{@items.collect(&:id)}", :tax => @product.vat.to_f+@product.service_tax.to_f+@product.sales_tax.to_f }(type="text" name="number" value=0 ) 
                  %td
                    %input{:style => 'width:60px;text-align:right;', :id=>"amount_#{item.id}", :class =>"amount"}(type="text" name="number" value=0  readonly = true)
        .bottom_menu{:style => 'width:560px;'}
          - hash = @items.collect(&:id)
          = hidden_field :pollo,:abc, :value => hash

          = "(Vat- #{@product.vat.to_f}%"
          = "Sales Tax - #{@product.sales_tax.to_f}%"
          = "Service Tax -#{@product.service_tax.to_f}%)"
          %tax_div{:style => 'float:right;margin-left:-20px;'}
            Tax :
            %input{:style => 'width:60px;text-align:right;', :id=>"tax"}(type="text" name="number" value=0  readonly = true)          
          %br
          %br
        .bottom_menu{:style => 'width:560px;padding-top:5px;'}
          = link_to "Check the Orders" , '', :id => 'checkout', :product_id => @product.id, :class => [:btn, :"btn-success"]
          %input{:style => 'display:none;', :id=>"count"}(type="text" name="number" value=0  readonly = true)
          %toatl{:style => 'float:right;margin-left:-20px;'}
            Total :
            %input{:style => 'width:60px;display:none;', :id=>"sum"}(type="text" name="number" value=0  readonly = true)        
            %input{:style => 'width:60px;text-align:right;', :id=>"total"}(type="text" name="number" value=0  readonly = true)         
.row.related-products
  - @product.related_products.each do |rp|
    .rel-product
      = image_tag(rp.image_url, :width => "100%")
      .actions
        = link_to "Call Me", '', :id => "form_dialog", :product_id => rp.id , :parent_product_id => @product.id, :class => [:btn, :"btn-success"]
#dialog_form{:style => 'text-align: center; margin-top: 5px;display:none'}
  %input(type="text" name="number" value="" id="info")
  %span.loading{:style => 'display:none'}
    = image_tag("loading.gif")

