!!!
%html
  %head
    %title Referrals
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ruge+Boogie|Cinzel+Decorative|Snowburst+One|Ruthie|Sanchez|Donegal+One"
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "products", :media => "all"
    = javascript_include_tag "application" 
    = javascript_include_tag "product" 
    = csrf_meta_tags

  %body
    .main-content
      = yield
